{% extends 'base.html.twig' %}

{% block title %}{{ 'Registration'|trans }}!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">{{ 'Registration'|trans }}</h1>
    {{ form(form) }}
{% endblock %}
